body {
  font-family: sans-serif;
  background-size: cover;
  background-position: center;
  background-color: #d32fd0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  
  font-size: 24px;
  font-weight: bold;
  color: rgb(11, 11, 11);
  margin-bottom: 20px;
}

@keyframes scrollEffect {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}


h1 {
  font-size: 2rem; 
  white-space: nowrap; 
  animation: scrollEffect 20s linear infinite; 
}
  


form {
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  background-color: rgb(232, 233, 231);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #f5f3f0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f;
}

#style {
  list-style-type: none;
  padding: 30;
  margin: 30;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 6in;
  background-color: pink;
}

#style li {
  margin: 0;
}

#style li a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold; 
  border: 2px solid #000; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

#style li a:hover {
  background-color: #007bff;
  color: #fff; 
}

